<%= form_for @in_message, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :type, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :to, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :to, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :msisdn, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :msisdn, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :network_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :network_code, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :message_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :message_id, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :message_timestamp, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :message_timestamp, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :text, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :text, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :concat, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :concat, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :concat_ref, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :concat_ref, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :concat_total, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :concat_total, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :concat_part, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :concat_part, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :status, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :posted_to_fb, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :posted_to_fb, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                in_messages_path, :class => 'btn' %>
  </div>
<% end %>
